/* GENERAL */

#page-title {

    font-family: 'Roboto', sans-serif;

    font-size: 100px;
    font-weight: bold;

    text-align: center;
    padding: 0px;
    margin: 0px;
}

#viz {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: auto;
}

* {
    font-family: 'Roboto Condensed', sans-serif;
}

.num {
    font-family: 'Roboto Mono', monospace;
}

.desc {
    font-size: 18px;
}

#footer {
    color: #484848;
}

h1 {
    font-size: 40px;
}

/* Factbox */

#fact {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: auto;
    padding: 0px;
}
 
#fact-hed {
    border-bottom: 1px solid black;
}

#fact-hed p {
    font-size: 20px;
}

#fact-date {
    font-size: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#fact-date * {
    margin: 0px;
    padding: 0px;
}

#fact-date tspan {
    margin-top: 0px;
}

#fact-facts {
    display: grid;
    grid-template-columns: auto 45% 40%;
    border-bottom: 1px solid black;
}

#fact-boxes {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 0px;
    text-align: center;

    margin-top: 20px;

}

.fact-num {
    font-size: 40px;
    font-weight: bold;
    margin: 0px;
    /* color: #22456B; */
}

.fact-desc {
    font-size: 16px;
    font-weight: lighter;
    margin: 0px;
}

/* DAILY */

#daily {
    width: 75%;
    margin: auto;
}

#daily h1 {
    margin: 40px 0px 0px 0px;
    padding: 0px;
}

#daily p {
    margin: 0px;
    margin-top: 3px;
}

#daily svg {
    margin: 0px;
    padding: 0px;
}

#daily-tip {
    font-size: 18px;
}

/* DEMO */

#demo {
    width: 75%;
    margin: auto;
}

#demo h1 {
    margin: 0px;
    padding: 0px;
}

#demo p {
    margin: 0px;
    padding: 0px;
}


/* TESTING */

#testing {
    width: 75%;
    margin: auto;
}

#testing h1, h2 {
    margin: 0px;
    padding: 0px;
}

#testing p {
    margin: 0px;
    margin-top: 3px;
}

/* PEERS */

#peers {
    width: 75%;
    margin: auto;
}

#peers nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#peers nav a {
    text-decoration: none;
    color: black;

    padding: 14px;
    margin: 0px;

    font-size: 18px;
    font-weight: bold;
}

#peer-viz {
    display: flex; 
    flex-direction: row;
}

#peer-facts {
    width: 30%;
    margin-top: 20px;
}

#peer-facts div {
    padding: 20px 10px 20px 10px;
    text-align: center;
}

#peer-chart {
    width: 65%;
    margin: 50px 10px 20px 10px;
}

/* JOY */

#joy {
    width: 75%;
    margin: auto;
}

/*  */
/* MOBILE */
/*  */

@media (max-width: 600px) {

    /* GENERAL */

    #viz {
        max-width: 600px;
        margin: auto;
    }

    #page-title {
        font-size: 30px;
        text-align: left;
        margin-left: 45px;
    }

    .desc {
        font-size: 14px;
    }

    h1 {
        font-size: 30px;
        margin: 0;
        padding: 0;
    }

    /* FAct */

    #fact {
        display: flex;
        flex-direction: column;
        width: 75%;
        margin: auto;
        padding: 0px;
    }
     
    #fact-hed {
        border-bottom: 1px solid black;
    }
    
    #fact-hed p {
        font-size: 14px;
    }
    
    #fact-date {
        font-size: 25px;
        margin-top: 10px;
    }
    
    #fact-facts {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid black;
    }
    
    .fact-num {
        font-size: 30px;
    }
    
    .fact-desc {
        font-size: 12px;
    }

    /* FIXING SVGS */
    #daily, #testing, #peers, #joy {
        width: 95%;
    }

    /* PEERS */
    
    #peers nav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
    #peers nav a {
        text-decoration: none;
        color: black;
    
        padding: 5px;
        margin: 0px;
    
        font-size: 16px;
        font-weight: bold;
    }
    
    #peer-viz {
        display: flex; 
        flex-direction: column;
    }
    
    #peer-facts {
        display: flex;
        flex-direction: row;
        width: 90%;
        margin: auto;
    }
    
    #peer-facts .fact-num {
        font-size: 25px;
    }
    
    #peer-facts div {
        padding: 20px 10px 20px 10px;
        text-align: center;
    }
    
    #peer-chart {
        width: 90%;
        margin-top: 0;
    }
}